<%- include("partials/header") -%>

<div id="content" class="container">
    <h1>Edit Event</h1>
    <form action="/edit/<%= eventDetails.id %>" method="POST">
        <div class="form-group">
            <label for="event-title">Name</label>
            <input type="text" class="form-control" id="event-title" name="eventTitle" value="<%= eventDetails.title %>" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="eventDate">Date</label><br>
            <input type="date" name="eventDate" value="<%= eventDetails.date %>">
        </div>
        <div class="form-group">
            <label for="eventTime">Time</label><br>
            <input type="time" name="eventTime" value="<%= eventDetails.time %>">
        </div>
        <div class="form-group">
            <label for="event-body">Description</label>
            <textarea name="eventDescript" class="form-control" rows="2"><%= eventDetails.descript %></textarea>
        </div>
        <button type="submit" class="btn btn-info">Update</button>
    </form>
</div>

<%- include("partials/footer") -%>
