<%- include("partials/header"); -%>

<div class="card-deck mb-3 text-center">

    <% userEvents.forEach(function(userEvent){ %>

    <% if(userEvent.descript.length>25){%>
    <% var body=userEvent.descript.substr(0,25) +"..."; %>
    <% }else{ %>
    <% var body=userEvent.descript %>
    <% } %>

    <div class="card mb-4 box-shadow">
        <div class="card event">
            <img src="/uploads/<%= userEvent.img %>" class="card-img-top img-fluid" alt="cardImage">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5 class="card-title"> <%= userEvent.title %> </h5></li>
                    <li class="list-group-item"> <%= userEvent.date %> </li>
                    <li class="list-group-item"> <%= userEvent.time %> </li>
                    <li class="list-group-item">  <%= body %>  </li>
                </ul>
                
                <a href="/event/<%= userEvent.id %>" class="btn btn-info">Event Details</a>
            </div>
        </div>
        <div class="card event">
        </div>
    </div>

    <% }); %>

</div>

<a href="/create" role="button" class="btn btn-info" style="align-self: center">Add Event</a>

<%- include("partials/footer"); -%>
